{% extends 'admin/model/create.html' %}

{% block tail %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/tinymce@6.8.3/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            tinymce.init({
                selector: "textarea",
                language: "ru",
                height: 300,
                menubar: false,
                plugins: "advlist autolink lists link image charmap preview anchor searchreplace visualblocks code fullscreen insertdatetime media table code help wordcount",
                toolbar: "undo redo | blocks | bold italic underline forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image table | removeformat | code",
                branding: false,
                convert_urls: false
            });
        });
    </script>
{% endblock %}


